.emtLogo {
    width: $Largo/2;
    height: $Ancho/5;
    margin-top: $Margin;
}

#miCuenta {
    font-size: ($Letra/2)-0.5;
    font-weight: bold;
    position: absolute; /**me dejo poner el botón arriba**/
    right: 4rem;
    top: 4rem;
    padding: .5rem 3rem;
    border-radius: .5rem;

        @media only screen and (max-width: 430px) {
            position: absolute;
            left: 2rem;
            top: 17rem;
        }    
}


#carouselWithControls {
    margin-top: $Margin/2;
    margin-block-end: $Margin/2;
}


.contenedorNoticias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 7px 10px;
    grid-auto-flow: column;
    justify-items: stretch;
    grid-template-areas:
      "Nota-1 Nota-1 Nota-2"
      "Nota-3 Nota-3 Nota-2"
      "Nota-4 Nota-4 Nota-4";
    width: auto;
    height: 110vh;
    margin: $Margin;
        a {
            font-size: ($Letra/2)-.5rem;
        }
  }

  @media only screen and (max-width: 1240px) {
      .contenedorNoticias {
          display: flex;
          flex-direction: column;
          width: auto;
          height: auto;
            div {
                display: flex;
                flex-direction: column;
                    img {
                        width: auto;
                        height: auto;
            }   }
        }
  }
  
  .Nota-1 { grid-area: Nota-1;
            display: flex;
            flex-direction: row;
            padding: 2rem;
            box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
            backdrop-filter: blur(1rem);
            background-color: rgba(255, 255, 255, 0.060);
                .nota-1Text {
                    margin-top: ($Margin*2)-1;
                    margin-left: $Margin;
                        p {
                            font-size: ($Letra/2)-.5rem;
                            color: $colorTitulo;
                        }
                }
}

@media only screen and (max-width: 1240px) {
    .contenedorNoticias {
        .nota-1Text {
                margin-left: $Margin/16;
                margin-top: $Margin/4;
            }
        
    }
}
.Nota-1 {
    h2{
        color: $colorTexto;
    }
}
  
  .Nota-2 { grid-area: Nota-2; 
            padding: 2rem;
            box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
            backdrop-filter: blur(1rem);
            background-color: rgba(255, 255, 255, 0.060);
            color: white;
                .nota-2Text{
                    margin-top: $Margin;
                        p {
                            font-size: ($Letra/2)-.5rem;
                            color: $colorTitulo; 
                        }
                }
}

@media only screen and (max-width: 1240px) {
    .contenedorNoticias {
        .nota-2Text {
                margin-left: $Margin/16;
                margin-top: $Margin/4;
            }
        
    }
}

.Nota-2 {
    h2 {
        color: $colorTexto;
    }
}


  
  .Nota-3 { grid-area: Nota-3; 
            padding: 2rem;
            display: flex;
            flex-direction: row;
            box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
            backdrop-filter: blur(1rem);
            background-color: rgba(255, 255, 255, 0.060);
            color: white;
                .Sub__Nota-3 {
                    display: flex;
                    flex-direction: column;
                    margin-left: $Margin;
                        h2 {
                            margin-bottom: $Margin;
                            color: $colorTexto;
                        }
                }
}

@media only screen and (max-width: 1240px) {
    .contenedorNoticias {
        .Nota-3 {
            display: flex;
            flex-direction: column;
                .Sub__Nota-3 {
                        margin-left: $Margin/16;
                        margin-top: $Margin/4;
                            a {
                                margin-left: $Margin/16;
                            }
                }            
        
        }      
        
    }
}

.Sub__Nota-3 {
    a {
        margin-left: $Margin/8;
    }
}


  .Nota-4 { grid-area: Nota-4; 
            padding: 2rem;
            display: flex;
            flex-direction: column;
            box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
            backdrop-filter: blur(1rem);
            background-color: rgba(255, 255, 255, 0.060);
            color: white;
             h2 {
                 color: $colorTexto;
             }
  }
  
  .Nota-4 {
      p {
        font-size: ($Letra/2)-.5rem;
        color: $colorTitulo; 
      }
  }



.ConteinerCards {
    background-image: url(../Galeria/FondoCards.jpg);
    background-size: 200%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin-top: $Margin*3;
        .Cards {
            border-radius: 1rem;
            box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
            display: flex;
            flex-direction: column;
            margin: 5rem;
            overflow: hidden;
            width: ($Largo)-10rem;
            height: ($Ancho)-10rem;
            backdrop-filter: blur(1rem);
            background-color: rgba(255, 255, 255, 0.060);
            border: .1rem solid rgba(255,255,255, 0.18);
            color: white;  
                       
        }
}


.Cards {
        h2{
                letter-spacing: .1rem;
                margin: $Margin/2 0;
            }
    }

.top-row {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
        p {
            font-size: ($Letra/2)-.5rem;
        }
}


@media only screen and (max-width: 1030px) {
    .ConteinerCards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
}
    


.formPuntaje {
    text-align: center;
        label {
            font-size: $Letra+1;
            color: $colorFondoEstrellas;
        }
}

.formPuntaje{
    label:hover{
        color: $ColorEstrellas;
    }
}

.formPuntaje {
    label:hover ~ label {
        color: $ColorEstrellas;
    }
} 

input[type="radio"] {
    display: none; 
}

input[type="radio"]:checked ~ label {
    color: $ColorEstrellas;
}

.form__puntajeClasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }



.h2Estrellas {
    font-size: ($Letra)-1;
    text-align: center;
    font-weight: bold;
    color: $colorTitulo;
    margin-top: $Margin;
}

body { 
    .modal {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        transition: all 500ms ease;
        opacity: 0;
        visibility: hidden;
            p {
                color: $colorTexto;
                text-align: start;
                margin: $Margin/2;
                font-size: ($Letra/2)-.5rem;
            }
    }
}

#btn-Modal:checked ~ .modal {
    opacity: 1;
    visibility: visible;
}

.modal {
    .contenedorModal {
        width: ($Largo)-10rem;
        height: ($Ancho)-20rem;
        margin: auto;
        border-radius: 1rem;
        background-color: #fff;
        box-shadow: 1px 7px 25px rgba (0,0,0,0.6);
        transition: all 500ms ease;
            header {
                font-size: ($Letra/2)-.5rem;
                font-weight: bold;
                padding: 10px;
                background-color: $colorTexto;
                color: #fff;
                border-top: 1rem;
            }
    }
}

.contenedorModal {
    label{
        position: absolute;
        top: 27.5%;
        right: 36%;
        color: #fff;
        font-size: ($Letra/2)-1rem;
        font-weight: bold;
        cursor: pointer;
        @media only screen and (max-width: 1300px) {
            position: relative;
            top: -11%;
            right: -44%;
        }
    }
}



#btn-Modal {
    display: none;
}

.botonpuntaje{
    margin: $Margin;
    text-align: center;
        .lbl-Modal {
            background-color: $colorTexto;
            color: white;
            font-size: ($Letra/2)-0.5;
            font-weight: bold;
            padding: .5rem 3rem;
            border-radius: .5rem;
            cursor: pointer;
        }    
}


.contenedorPost {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../Galeria/fondoRedes.png);
    background-size: 100%;
    background-position: center;
    background-repeat: repeat;
    margin: $Margin;
        .lastPost {
            margin: $Margin $Margin;
            padding: 1rem;
            border: 1px solid $colorTexto;
            transition: 1s;
                &:hover {
                    transform:scale(0.99);
                    border: 1px solid $colorTitulo;
                }
        }
}


.tituloPost {
    font-size: $Letra/2;
    text-align: start;
    font-weight: bold;
    color: $colorTitulo;
    margin: $Margin;
}
