/*Login*/


.contenedorIngreso {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    justify-items: stretch;
    grid-template-areas:
      "imagen1 Ingreso imagen2";
    width: 100%;
    height: 80rem;
        @media only screen and (max-width: 1024px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: column;
        justify-items: stretch;
        grid-template-areas:
          "Ingreso";
        width: 100%;
        height: 100%;
        }
  }


.Ingreso {
    grid-area: Ingreso;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:space-around;
    margin-top: $Margin;
    margin-block-end: $Margin/2;
}

.imagen1 {
    grid-area: imagen1;
    background-image: url(../Galeria/Fondologin.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    background-size:contain;
}

.imagen2 {
    grid-area: imagen2;
    background-image: url(../Galeria/Fondologin.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.emtLogo {
    width: ($Ancho/2)-5rem;
    height: ($Largo/2)-5rem;
    margin-top: $Margin/2;
    margin-block-end: $Margin/2;
}


#comienzaCompra {
    font-size: ($Letra)-1rem;
    text-align: center;
    font-weight: bold;
    color: $colorTexto;
}

.loginPrincipal{
    width: auto;
    height: ($Largo/2)-5rem;
}

.loginPrincipal div{
    margin: .5rem;
    padding: .5rem;
}

.Login a {
    text-decoration: none;
    font-size: ($Letra/2)-.5rem;
    font-weight: bold;
    padding: .5rem 3rem;
    border-radius: .5rem;
}

.Login input {
    padding: .5rem 7rem;
    border-radius: .5rem;
    text-align: center;
}