/*tabla*/

.table-responsive {
    padding: 20px 0;
    border: none;
        h1{
            margin: ($Margin)-1;
            text-align: center;
            font-size: ($Letra/2)+.8rem;
            font-weight: bold;
            color: $colorTitulo ;  
        }
}

.tabla_Eventos {
    th {
        color: $colorTexto;
        font-size: $Letra/2;
        font-weight: bold;
    }
}

.tabla_Eventos {
    td {
        color: $colorTitulo;
        font-size: ($Letra/2)-.5rem;
        font-weight: bold;
        text-align: center;
    }
}

.tabla_Eventos {
    td {
        a {
            color: $colorTexto;
            font-size: ($Letra/2)-.5rem;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 470) {
    .table-responsive {
        overflow-x: auto;
    }
}